html {
    margin-top: 0px;
    top: 0px;
}


body {
    font-family: Sans-Serif;
    top: 0px;
    margin: 0px;
    background-color: #f3f8ff;
    z-index: 0;
    min-height: 100%;
}

footer{
    height: 100px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
}


div.light_background {
    margin: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 70;
    position: fixed;
    display: none;
}


div.headerbutton {
    min-width: 150px;
    padding: 15px;
    text-align: center;
    cursor: default;
    display: inline;
}


div.headerbutton:hover {
    background-color: #ffffff;
    cursor: pointer;
}

div.cookie_information {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}


div.toolbox {
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px; 
    z-index: 10;
    border-right: #640000;
    border-right-style: solid;
    border-right-width: 1px;
    background-color: #f3f8ff;    
    overflow-y: auto; 
}

div.toolbox_button {
    width: 250px;
    margin: 1px;
    height: 40px;
    background-color: #eeeeee;
    border: #640000;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    display: table;
    border-radius: 5px;
    cursor: pointer;
}

div.toolbox_button:hover {
    background-color: #e4e4e4;
}

div.toolbox_button_small {
    width: 100px;
    margin: 1px;
    height: 40px;
    background-color: #eeeeee;
    border: #640000;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    display: table;
    border-radius: 5px;
    cursor: pointer;
}

div.toolbox_button_small:hover {
    background-color: #e4e4e4;
}

span {
  display: table-cell;
  vertical-align: middle;
}

div.headerborder {
    min-width: 150px;
    padding: 15px;
    border-right: #640000;
    border-right-style: solid;
    border-right-width: 1px;
    text-align: center;
    cursor: default;
    display: inline;
}


div.headerborder:hover {
    background-color: #ffffff;
    cursor: pointer;
}



div.download {
    top: 25%;
    display: none;
    left: 25%;
    width: 50%;
    height: 50%;
    position: fixed;
    z-index: 120;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}


div.click_background {
    top: 0px;
    display: none;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 110;
    background-color: black;
    opacity: 0.4;
}


div.black_background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


div.statistics {
    display: none;
    position: fixed;
    z-index: 10;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height: 100%;
    overflow-y: scroll;    
}


div.global_search {
    display: none;
    position: fixed;
    z-index: 110;
    width: 100%;
    height: 100%;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}



    
div.global_search_content {
    background-color: rgba(255, 255, 255, 1);
    border: 1px black solid;
    z-index: 120;
    display: inline;
    padding: 20px;
    position: fixed;
    overflow-y: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



div.check_spectra {
    top: 5%;
    display: none;
    left: 5%;
    width: 90%;
    height: 90%;
    position: fixed;
    z-index: 120;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}


div.check_spectra_background {
    top: 0px;
    display: none;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 110;
    background-color: black;
    opacity: 0.4;
}


div.search_results {
    display: none;
    background: white;
    position: fixed;
    border:1px solid #d3d3d3;
    z-index: 80;
    height: 80%;
    overflow-y: auto;
}



td.single_search_result {
    border-bottom: 1px dashed #d3d3d3;
    background: white;
    padding: 10px;
}


td.single_search_result:hover {
    border-bottom: 1px dashed #d3d3d3;
    background: #eeeeee;
    cursor: pointer;
}


input.search_field {
    height: 25px;
}


div.navigation {
    font-weight: bold;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #007ec1;
    color: white;
    position: fixed;    
    z-index: 100;
}


div.navigation_startpage {
    font-weight: bold;
    left: 0px;
    width: 100%;
    background-color: #007ec1;
    color: white;
    position: fixed;
    z-index: 100;
    height: auto;
    bottom: 0;
}


li{
  margin: 10px 0;
}


td.navigation_cell {
    color: #ffffff;
    padding: 8px;
    margin: 5px;
    border-right: white;
    border-right-style: solid;
    border-right-width: 1px;
}


td.navigation_cell_name {
    color: #ffffff;
    padding: 8px;
    margin: 5px;
}


td.navigation_cell_click {
    color: #ffffff;
    padding: 8px;
    margin: 5px;
    border-right: white;
    border-right-style: solid;
    border-right-width: 1px;
    width: auto;
    max-width: 200px;
    height: auto;
    font-size: calc(7px + 0.5vw);
}


img.navigation_cell_click_image {
    width: 10vw;
    max-width: 200px;
    height: 10vh;
    max-height: 80px;
}


td.navigation_cell_click:hover {
    background-color: #9fc2d4;
    cursor: pointer;
}




canvas.renderarea {
    border:1px solid #d3d3d3;
    margin: 0px;
    position: fixed;
    left: 0px;
    top: 0px;
}


div.spectra_panel {
    background-color: white;
    border: 1px solid #d3d3d3;
    margin: 0px;
    position: fixed;
    overflow-x: auto;
    overflow-y: scroll;
}


div.filter_panel_check_spectra {
    background-color: white;
    border: 1px solid #d3d3d3;
    margin: 0px;
    position: fixed;
    overflow-x: auto;
    overflow-y: auto;
    display: none;
}


canvas.msarea {
    background-color: white;
    border:1px solid #d3d3d3;
    margin: 0px;
    position: fixed;
}


div.tooltip {
    position: absolute;
    display: none;
    background-color: #FFFFDD;
    border-style: dashed;
    border-width: 1px;
    border-color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}



div.menu_extend_item {
    display: none;
    background: white;
    position: fixed;
    border:1px solid #d3d3d3;
    z-index: 80;
    height: 80%;
    overflow-y: scroll;
}





td.select_menu_cell {
    border-bottom: 1px dashed #d3d3d3;
    background: white;
    padding: 10px;
    cursor: pointer;
}


td.selected_menu_cell {
    border-bottom: 1px dashed #d3d3d3;
    background: #eeeeee;
    padding: 10px;
    cursor: pointer;
}


td.select_menu_cell:hover {
    border-bottom: 1px dashed #d3d3d3;
    background: #eeeeee;
    padding: 10px;
}


ul {
    list-style: none;
}
 
li.empty:before {
    content: '';
}
 
li.empty:hover {
    cursor: pointer;
}

 
li.collapsed:before {
    content: '▸ ';
}

 
li.collapsed:hover {
    cursor: pointer;
}

 
li.expanded:before {
    content: '▾ ';
}

 
li.expanded:hover {
    cursor: pointer;
}


table.scrollTable tbody {
    overflow-y: scroll;
}

div.Brain {
    background-image: url('images/brain.png');
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    float: left;
    display: inline;
}

div.Liver {
    background-image: url('images/liver.png');
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    float: left;
    display: inline;
}

div.Kidney {
    background-image: url('images/kidney.png');
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    float: left;
    display: inline;
}

div.Spleen {
    background-image: url('images/spleen.png');
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    float: left;
    display: inline;
}

div.Heart {
    float: left;
    display: inline;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-image: url('images/heart.png');
}

div.Platelet {
    float: left;
    display: inline;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-image: url('images/blood.png');
}

div.Fat {
    float: left;
    display: inline;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-image: url('images/fat.png');
}

div.Lung {
    background-image: url('images/lung.png');
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    float: left;
    display: inline;
}

div.Eye {
    background-image: url('images/eye.png');
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    float: left;
    display: inline;
}

div.Gut {
    background-image: url('images/gut.png');
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    float: left;
    display: inline;
}

div.Del {
    background-image: url('images/delete-small.png');
    background-repeat: no-repeat;
    min-width: 16px;
    float: left;
    display: inline;
    min-height: 16px;
}
