html {
    margin-top: 0px;
    top: 0px;
}

body {
    margin: 0px;
    top: 0px;
    background-color: #f3f8ff;
    /* background-color: white; */
    z-index: 0;
}

div.animation_background {
    margin: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    display: none;
}

div.custommenu {
    top: 0px;
    display: none;
    left: 0px;
    background-color: #e3e3e3;
    position: absolute;
    z-index: 80;
}

div.menubackground {
    top: 0px;
    display: none;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 30;
}


div.download {
    top: 25%;
    display: none;
    left: 25%;
    width: 50%;
    height: 50%;
    position: fixed;
    z-index: 120;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

div.downloadbackground {
    top: 0px;
    display: none;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 110;
    background-color: black;
    opacity: 0.4;
}


div.disclaimer {
    top: 12%;
    display: none;
    left: 25%;
    width: 50%;
    height: 76%;
    position: fixed;
    z-index: 120;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 30px;
    overflow-y: scroll;
}

div.disclaimer_background {
    top: 0px;
    display: none;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 110;
    background-color: black;
    opacity: 0.4;
}



div.check_spectra {
    top: 10%;
    display: none;
    left: 10%;
    width: 80%;
    height: 80%;
    position: fixed;
    z-index: 120;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}


div.check_spectra_background {
    top: 0px;
    display: none;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 110;
    background-color: black;
    opacity: 0.4;
}

div.search_results {
    display: none;
    background: white;
    position: fixed;
    border:1px solid #d3d3d3;
    z-index: 80;
}

div.search_background {
    top: 0px;
    display: none;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 70;
}

td.single_search_result {
    border-bottom: 1px dashed #d3d3d3;
    background: white;
    padding: 10px;
}
td.single_search_result:hover {
    border-bottom: 1px dashed #d3d3d3;
    background: #eeeeee;
    cursor: pointer;
}


input.search_field {
    height: 25px;
}


div.navigation {
    font-weight: bold;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #640000;
    color: white;
    position: fixed;    
    z-index: 100;
}

td.navigation_cell {
    color: #fff6d5;
    padding: 8px;
    margin: 5px;
    border-right: white;
    border-right-style: solid;
    border-right-width: 1px;
}

td.navigation_cell_name {
    color: #fff6d5;
    padding: 8px;
    margin: 5px;
}

td.navigation_cell_click {
    color: #fff6d5;
    padding: 8px;
    margin: 5px;
    border-right: white;
    border-right-style: solid;
    border-right-width: 1px;
}

td.navigation_cell_click:hover {
    background-color: #a20000;
    cursor: pointer;
}

table.custommenutable {
    width: 180px;
    border-left: white;
    border-left-style: solid;
    border-left-width: 1px;
    border-top: white;
    border-top-style: solid;
    border-top-width: 1px;
    border-right: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

td.menuitem {
    padding: 3px;
    cursor: default;
}

td.menuitem:hover {
    padding: 3px;
    background-color: #3d9fd7;
    color: white;
}

td.menuitemdisabled {
    padding: 3px;
    background-color: #dddddd;
    color: #c0c0c0;
    cursor: default;
}

td.menuitemdisabled:hover {
    padding: 3px;
    background-color: #cccccc;
    color: #b0b0b0;
}

canvas.renderarea {
    border:1px solid #d3d3d3;
    margin: 0px;
}

div.spectra_panel {
    background-color: white;
    border: 1px solid #d3d3d3;
    margin: 0px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
}

canvas.msarea {
    background-color: white;
    border:1px solid #d3d3d3;
    margin: 0px;
    position: fixed;
}

div.tooltip {
    position: absolute;
    display: none;
    background-color: #FFFFDD;
    border-style: dashed;
    border-width: 1px;
    border-color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}

div.managementbackground {
    top: 0px;
    display: none;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 30;
    background-color: black;
    opacity: 0.4;
}

div.management {
    top: 10%;
    display: none;
    left: 10%;
    width: 80%;
    height: 80%;
    position: fixed;
    z-index: 40;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

div.managementtable {
    top: 8%;
    left: 5%;
    width: 90%;
    height: 80%;
    position: relative;
    z-index: 50;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    overflow-y: scroll;
}


div.select_species {
    display: none;
    background: white;
    position: fixed;
    border:1px solid #d3d3d3;
    z-index: 80;
}

div.select_species_background {
    top: 0px;
    display: none;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 70;
}


td.select_species_cell {
    border-bottom: 1px dashed #d3d3d3;
    background: white;
    padding: 10px;
    cursor: pointer;
}


div.select_pathway {
    display: none;
    background: white;
    position: fixed;
    border:1px solid #d3d3d3;
    z-index: 80;
    height: 80%;
    overflow-y: scroll;
}

div.select_pathway_background {
    top: 0px;
    display: none;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 70;
}


td.select_pathway_cell {
    border-bottom: 1px dashed #d3d3d3;
    background: white;
    padding: 10px;
    cursor: pointer;
}


td.selected_pathway_cell {
    border-bottom: 1px dashed #d3d3d3;
    background: #eeeeee;
    padding: 10px;
    cursor: pointer;
}


td.select_pathway_cell:hover {
    border-bottom: 1px dashed #d3d3d3;
    background: #eeeeee;
    padding: 10px;
}